.todos_single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: yellowgreen;
    transition: 0.2s;
}

.todos_single:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.drag{
    box-shadow: 0 0 20px black;
}

.todos_single_text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todos_single_text:focus{
    outline: none;
}

.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width:1100px) {
    .todos{
        width: 45%;
    }
}

@media (max-width: 700px){
    .input{
        width: 95%;
    }
    .todos{
        width: 95%;
        margin-bottom: 10px;
    }
    
    .container{
        width: 95%;
        flex-direction: column;
    }

}


