.container{
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos{
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 6px;
    background-color: rgb(58, 205, 137);
}

.todos_heading{
    font-size: 30px;
    color: white;
}

.remove{
    background-color: rgb(207, 60, 60);
}

.dragactive{
    background-color: rgb(59, 243, 157);
}

.dragcomplete{
    background-color: rgb(255, 69, 69);
}